<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>रक्तDaan</title>
</head>
<body>
    <nav class="navbar background h-nav"><div class="list"></div>
        <ul class="nav-bar v-class">
            
            <li><div class="logo"><img src="images/logo.jpg" alt="logo"></div></li>
            <li><a href="home">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="logout">Logout</a></li>
        </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstsection">
        <div class="box-main">
            <div class="fhalf">
                <p class="text-big">All The Available Hospitals Near You Are:-</p>
                <table class="tb">
                    <tr>
                      <th>Hospital</th>
                      <th>Contact No.</th>
                      <th>Address</th>
                      <th>Click to Donate</th>
                    </tr>
                    <% check.forEach(function(element) { %>
                        <tr style="text-align: center">
                      <td> <%= element.hname %></td>
                      <td> <%= element.hphone %></td>
                      <td> <%= element.haddress %></td>
                      <td> 
                        <form method="POST">
                        <button class="btn">  <a href="<%= `/home2?id=`+element._id %>">  DONATE</a></button>
                    </form>
                </td>
                      <% }); %>
                    </tr>
                    
                    
                  </table>
            
            </div>
           
        </div>
    </section>
    <footer class="background">
        <p class="text-footer">
        Copyright &copy; 207 - All Rights Reserved
    </p>
    </footer>
    <script src="resp/resp.js"></script>
</body>
</html> 