<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <link rel="stylesheet" href="/backend/public/css/style.css">
    <nav class="navbar background h-nav"><div class="list"></div>
            <ul class="nav-bar v-class">
                
                <li><div class="logo"><img src="images/logo.jpg" alt="logo"></div></li>
                <li><a href="home">Home</a></li>
                <li><a href="about">About Us</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="loginop ">Login</a></li>
                <li><a href="signup">Sign Up</a></li>
            </div>
            </ul>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
  <section class="background firstsection">
        <div class="box-main">
            <div class="fhalf">
                <p class="text-big">Every life matters</p>
                <p class="text-small">Help somebody to save a life.After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and in turn, helps in maintaining good health.</p>
                <div class="buttons">
                    <button class="btn"><a href="donate.ejs"> Donate</a></button>
                    <button class="btn"><a href="recieve.ejs"> Recieve</a></button>
                </div>
            </div>
            <div class="shalf">
                <img src="images/immg.webp" alt="">
            </div>
        </div>
    </section>
    <footer class="background">
        <p class="text-footer">
        Copyright &copy; 207 - All Rights Reserved
    </p>
    </footer>
    <script src="/resp.js"></script>
    
</body>
</html>