<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>रक्तDaan</title>
</head>
<body>
    <nav class="navbar background h-nav"><div class="list"></div>
        <ul class="nav-bar v-class">
            
            <li><div class="logo"><img src="images/logo.jpg" alt="logo"></div></li>
            <li><a href="hospital_home">Home</a></li>
            <li><a href="hospital_about">About Us</a></li>
            <li><a href="hospital_contact">Contact Us</a></li>
            <li><a href="Record">Records</a></li>
            <li><a href="Request">Requests</a></li></div>
            <li><a href="logout">Logout</a></li>
            <div class="profile"><li><a href="profileh"><%= userData.hname%></a></li></div>
        </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="contact">
        <h1 class="text-center">Update Record</h1>
        <div class="form">
            <div class="form"><form action="/update" method="POST">
            <input class="form-input" type="number" name="Ap" id="Ap" placeholder="A+">
            <input class="form-input" type="number" name="An" id="An" placeholder="A-">
            <input class="form-input" type="number" name="Bp" id="Bp" placeholder="B+">
            <input class="form-input" type ="number" name="Bn" id="Bn"  placeholder="B-">
            <input class="form-input" type="number" name="Op" id="Op" placeholder="O+">
            <input class="form-input" type ="number" name="On" id="On"  placeholder="O-">
            <input class="form-input" type="number" name="ABp" id="ABp" placeholder="AB+">
            <input class="form-input" type="number" name="ABn" id="ABn" placeholder="AB-">
            <button class="btn " inputmode="Submit" value="update">Update</button></form>            <br>
            <br>
            <br>
            <br>
            <br><br><br><br><br>
            </div> 
    </section>
   
    <footer class="background">
        <p class="text-footer">
        Copyright &copy; 207 - All Rights Reserved
    </p>
    </footer>
    <script src="resp/resp.js"></script>
</body>
</html> 