<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>रक्तDaan</title>
</head>
<body>
    <nav class="navbar background h-nav"><div class="list"></div>
        <ul class="nav-bar v-class">
            
            <li><div class="logo"><img src="images/logo.jpg" alt="logo"></div></li>
            <li><a href="home.hbs">Home</a></li>
            <li><a href="about.hbs">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="loginop">Login</a></li>
            <li><a href="signup">Sign Up</a></li>
        </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstsection">
        <div class="box-main">
            <div class="fhalf">
                <p class="text-big">Aout Us</p>
                <p class="text-small">We are an organization which connects hospitals, donors and the needy lives to each other through a portal. We supports our 192 Red Cross and Red Crescent Societies to deliver and promote safe and sustainable blood programmes around the world. In 2020, we supported nearly 21 million people to donate blood. One blood donation can save as many as three lives.</p>
                <br><br><p class="text-small">If you are connected with a hospital or to any donor please make them link to our website and help somebody to live again.</p>
                <br><br><div class="buttons">
                <p class="text-small">Help somebody to save a life.After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and in turn, helps in maintaining good health.</p>    
                <button class="btn"><a href="donate"> Donate</a></button>
                    <button class="btn"><a href="recieve"> Recieve</a></button></div>
            </div>
            <div class="shalf">
                <img src="images/immg.webp" alt="">
            </div>
        </div>
    </section>
    <footer class="background">
        <p class="text-footer">
        Copyright &copy; 207 - All Rights Reserved
    </p>
    </footer>
    <script src="resp/resp.js"></script>
</body>
</html> 