<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>रक्तDaan</title>
</head>
<body>
    <nav class="navbar background h-nav"><div class="list"></div>
        <ul class="nav-bar v-class">
            
            <li><div class="logo"><img src="images/logo.jpg" alt="logo"></div></li>
            </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstsection">
        <div class="box-main">
            <div class="fhalf">
                <p class="text-big">Hello ! <br> Please proceed to the selected hospital to donate Blood!!! <br><br></p>
                    <button class="btn"><a href="home2">Home</a></button>
                </div>
            </div>
            
        </div>
    </section>
    <footer class="background">
        <p class="text-footer">
        Copyright &copy; 207 - All Rights Reserved
    </p>
    </footer>
    <script src="resp/resp.js"></script>
</body>
</html> 