<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>रक्तDaan</title>
</head>
<body>
    <nav class="navbar background h-nav"><div class="list"></div>
        <ul class="nav-bar v-class">
            
            <li><div class="logo"><img src="images/logo.jpg" alt="logo"></div></li>
            <li><a href="hospital_home">Home</a></li>
            <li><a href="hospital_about">About Us</a></li>
            <li><a href="hospital_contact">Contact Us</a></li>
            <li><a href="Record">Records</a></li>
            <li><a href="requests">Requests</a></li>
            <li><a href="hospital_history">History</a></li>
            <li><a href="logout">Logout</a></li>
            <div class="profile"><li><a href="profileh"><%= userData.hname%></a></li></div>
        </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstsection">
        <div class="box-main">
            <div class="fhalf">
                <p class="text-big">Every life matters</p>
                <p class="text-small">Help somebody to save a life.After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and in turn, helps in maintaining good health.</p>
                <div class="buttons"><button class="btn"><a href="record"> Records</a></button>
                    <button class="btn"><a href="requests"> Requests</a></button>
                    </div>
            </div>
            <div class="shalf">
                <img src="images/immg.webp" alt="">
            </div>
        </div>
    </section>
    <footer class="background">
        <p class="text-footer">
        Copyright &copy; 207 - All Rights Reserved
    </p>
    </footer>
    <script src="resp/resp.js"></script>
</body>
</html> 