<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>रक्तDaan</title>
</head>
<body>
    <nav class="navbar background h-nav"><div class="list"></div>
        <ul class="nav-bar v-class">
            
            <li><div class="logo"><img src="images/logo.jpg" alt="logo"></div></li>
            <li><a href="home2">Home</a></li>
            <li><a href="about2">About Us</a></li>
            <li><a href="contact2">Contact Us</a></li></div>
            <li><a href="logout">Logout</a></li>
            <div class="profile"><li><a href="profileh"><%= userData.hname%></a></li></div>
        </div>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="contact"><br>
        <br>
        <br>
        <br><br><br><br><br>
        <h1 class="text-center">Which BloodGroup You Want ??</h1>
        <div class="form">
            <p></p>
            <div class="form"><form action="/next" method="POST">
                <select name="bloodgroup" id="bloodgroup">
                    <option value="Ap">A+</option>
                    <option value="An">A-</option>
                    <option value="Bp">B+</option>
                    <option value="Bn">B-</option>
                    <option value="Op">O+</option>
                    <option value="On">O-</option>
                    <option value="ABp">AB+</option>
                    <option value="ABn">AB-</option>
                </select>
                <button class="btn " inputmode="Submit" value="Signuph">OK</button></form>           <br>
                <br>
                <br>
                <br>
                <br><br><br><br><br><br>
                <br>
                <br>
                <br><br><br><br><br><br>
                <br>
                <br>
                <br><br><br><br><br>
            </div> 
    </section>
   
    <footer class="background">
        <p class="text-footer">
        Copyright &copy; 207 - All Rights Reserved
    </p>
    </footer>
    <script src="resp/resp.js"></script>
</body>
</html> 